numpy
scipy
tqdm
docopt
nltk
torchvision
torch
sentencepiece
lxml
sacrebleu
tensorboard
transformers
datasets
accelerate
bitsandbytes
peft
huggingface_hub[cli]
openpyxl
trl
sentence_transformers
pandas
matplotlib